<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>饗賓餐旅線上訂位</title>
  </head>
  <body>
    <div style="display: flex; justify-content: center">
      <img src="http://localhost:8080/svg" width="600" height="300" alt="" />
    </div>
    <div style="display: flex; justify-content: center">
      <input type="text" id="fa" />
      <button id="btn" style="margin: 0 20px">訂位</button>
    </div>

    <script>
      const fa = document.querySelector('#fa');
      btn.onclick = () => {
        fetch('http://localhost:8080/svg', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json',
          },
          body: JSON.stringify({ verify: fa.value }),
        });
      };
    </script>
  </body>
</html>
